<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title>GamesBox</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= expose_rails_env_data_to_javascript_tag %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag    'application' %>
</head>
<body>
<%= react_component 'MainApp' %>
</body>
</html>