<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title>GamesBox</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'login_register', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<%= yield %>
<%= google_analytics_script_tag %>
</body>
</html>