<!DOCTYPE html>
<html>
  <head>
    <title>GamesBox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <pre>
      Current user: <%= current_user.try(:display_name) %>
    </pre>
    <%= link_to 'Logout', logout_path, method: :delete if logged_in? %>

    <%= yield %>
  </body>
</html>
